<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Appointment App</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <header class="header">
      <h2>Task 18 - Full stack Booking Appointment App</h2>
    </header>

    <main>
      <div class="main-div">
        <h2 style="text-align: center; color: yellow">BOOK A CALL</h2>
        <h4 style="text-align: center">
          Book a Call and our team will call you
        </h4>
        <hr width="100%" size="5px" style="background-color: black" />
        <form action="#" id="my-form" method="POST" onsubmit="saveBookingDetails(event)">
          <div class="msg" style="background-color: green; padding: 5px; margin: 5px"></div>
          <label>Name</label>
          <input type="text" id="name" name="name" placeholder="name" /><br /><br />
          <label>Email</label>
          <input type="text" id="email" name="email" placeholder="email" /><br /><br />
          <label>Phone</label>
          <input type="text" id="phone" name="phone" placeholder="phone" /><br /><br />
          <input class="btn" type="submit" value="get a call" />
          <input class="rbtn" id="rbtn" type="button" value="Reset" />
        </form>
        <ul id="bookings"></ul>
      </div>
    </main>
  </body>
</html>

<!-- add axios libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>

<!-- store the details entered by the user in the database when he clicks on submit. -->
<script>
  function saveBookingDetails(event) {
    event.preventDefault();  // To prevent a page from reloading or a new link from opening in jQuery, use the event.preventDefault() method.
    const name = event.target.name.value;
    const email = event.target.email.value;
    const phone = event.target.phone.value;

    const obj = {
      name: name,
      email: email,
      phone: phone,
    };

    // add axios libraries'post' for post data and save to database
    axios.post("http://localhost:4000/add", obj)
      .then((response) => {
        showNewUserOnScreen(response.data.newBookingDetails);
        console.log(response);
      })
      .catch((err) => {
        document.body.innerHTML =
          document.body.innerHTML + "<h4> Something went wrong </h4>";
        console.log(err);
      });
  }

  // add axios libraries'get' - Get the saved User Details from database
  // The DOMContentLoaded event fires when the initial HTML document has been completely loaded and parsed, without waiting for stylesheets, images, and subframes to finish loading.
  window.addEventListener("DOMContentLoaded", () => {
    axios.get("http://localhost:4000/get-data")
      .then((response) => {
        console.log(response);

        for (var i = 0; i < response.data.allBookings.length; i++) {
          showNewUserOnScreen(response.data.allBookings[i]);
        }
      })
      .catch((err) => {
        document.body.innerHTML =
          document.body.innerHTML +
          "<h4> Something went wrong in .get</h4>";
        console.log(err);
      });
  });

  // function for showing Booking details on screen
  // update function showNewUserOnScreen(user) for Deleting the Appointments
  // update function showNewUserOnScreen(user), edit button for Update the user Details
  function showNewUserOnScreen(user) {
    // After submit clear input field
    document.getElementById("name").value = '';
    document.getElementById("email").value = '';
    document.getElementById("phone").value = '';
    
    const parentNode = document.getElementById("bookings");
    const childHTML = `<li id=${user.id}> ${user.name} - ${user.email} - ${user.phone}
                             <button onclick=deleteUser('${user.id}')> Delete User </button>
                             <button onclick=editUserDetails('${user.name}','${user.email}','${user.phone}','${user.id}')> Edit </button>
                        </li>`;

    parentNode.innerHTML = parentNode.innerHTML + childHTML;
  }

  // update function showNewUserOnScreen( ) for Deleting the Appointments database
  function deleteUser(userId) {
    axios.delete(`http://localhost:4000/delete-data/${userId}`)
      .then((response) => {
        console.log(response);
        // for delete data from screen
        removeUserFromScreen(userId);
      })
      .catch((err) => {
        document.body.innerHTML =
          document.body.innerHTML +
          "<h4> Something went wrong in .delete</h4>";
        console.log(err);
      });
  }

  // update function removeUserFromScreen( ) for Deleting the Appointments from screen
  function removeUserFromScreen(userId) {
    const parentNode = document.getElementById("bookings");
    const childNodeToBeDeleted = document.getElementById(userId);

    if (childNodeToBeDeleted) {
      parentNode.removeChild(childNodeToBeDeleted);
    }
  }

  // // Edit User

  // // update function editUserDetails( ) for Making the Registration Page Dynamic_Task 14 -> Update the user Details
  // function editUserDetails(name, emailId, phone, userId) {
  //   //document.getElementById('emailId').value =emailId;
  //   document.getElementById("name").value = name;
  //   document.getElementById("email").value = emailId;
  //   document.getElementById("phone").value = phone;

  //   deleteUser(userId);
  // }
</script>